{% load recipes_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/recipes.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo"><a href="{% url 'recipes:recipe_list' %}">Book Recipes</a></span>
        <span class="user">
            {% if request.user.is_authenticated %}
                <a href="{% url 'account:profile' request.user.username %}">{{ request.user.username }}</a>,
                <a href="{% url 'account:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    <div id="main-wrapper">
        <div id="content">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <button type="button" id="btn-close" onclick="removeMessage()">x</button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <p>total recipes: {% total_recipes %}</p>
            <h3><a href="{% url 'recipes:recipe_search' %}">Search recipes</a></h3>
            <h3>Latest recipes</h3>
            {% show_latest_recipes 3 %}
            <h3>Most commented recipes</h3>
            {% get_most_commented_recipes as most_commented_recipes %}
            <ul>
                {% for recipe in most_commented_recipes %}
                <li>
                    <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        function removeMessage() {
            const element = document.getElementsByClassName('messages')[0];
            element.remove();
        }
        {% block domready %}
        {% endblock %}
    </script>
</body>
</html>