{% extends 'recipes/base.html' %}

{% block title %}пароль сброшен{% endblock %}

{% block content %}
    <h1>пароль сброшен</h1>
    {% if validlink %}
    <p>Введите новый пароль дважды:</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Сменить пароль"></p>
    </form>
    {% else %}
        <p>Ссылка для сброса пароля была неверной, возможно, потому, что
          она уже использовалась. Пожалуйста, запросите сброс пароля еще раз</p>
    {% endif %}
{% endblock %}
